# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/  
.venv/
.env/
instance/

# Flask specific
*.log
*.db
*.sqlite

# OS or Editor files
.DS_Store
*.swp
*.swo
.vscode/

# Packages
node_modules/

.env