@font-face {
    font-family: "roboto";
    src: url("roboto_flex.ttf");
}
* {
    font-family: "roboto";
}

body {
    margin: 0;
    font-size: 30px;
    background-color: #fbfbf5;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

header {
    font-size: 75px;
    text-align: center;
    background-color: #feed9f;
}



.navbar{
    background-color: #f7d327;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}
.navbar ul {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    height: 100%;
}
.navbar li {
    height: 100%;
    display: flex;
    align-items: stretch;
}
.navbar a {
    color: #504c41;
    text-decoration: none;
    padding: 0 15px;
    text-align: center;

    font-size: 40px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar a:hover {
    background-color: #e3c116;
    cursor: pointer;
}





.profile-link {
    margin-right: 20px;
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-picture, .profile-placeholder {
    border-radius: 50%; /* Makes the image a circle */
    border: 3px solid #ccc; /* Adds a border to the image */

    /* Makes the image a square */
    width: 60px;
    height: 60px;

    object-fit: cover;
}
.profile-placeholder {
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #666;
}
