{% extends 'layout.html' %}
{% block content %}
    {% if username %}
        <form action="/account" method="POST">
            <button type="submit" class="button" style="margin-top: 30px;">Logout</button>
        </form>     <!-- If username is given(aka the user is logged in) the logout button will display on the account page. -->
    {% else %}
        <h3>You are not logged in. <a href="/login">Log in here</a> Or <a href="/register">Register here</a>  if you don't have an account.</h3>     <!-- Otherwise provides the login and register pages. -->
    {% endif %}

{% endblock %}
