{% extends 'layout.html' %}
{% block content %}
    <!-- Form to add an event -->
    <form action="/events/add-event" method="POST" enctype="multipart/form-data" class="center-form" id="add_event_form">
        <h2>Add Event</h2>
        <div class="divider"></div>

        <!-- Event name field -->
        <div class="form-group">
            <label for="name">Title</label>
            <input type="text" name="name" id="name" required>
            
            <!-- Displays all errors, if any -->
            <div class="form-error name-errors" style="display: none;"></div>
            {% if errors.get("name") %} 
                <div class="form-error">{{ errors["name"] }}</div>
            {% endif %} 
            </div>
        </div>

        <!-- Date containers to align them -->
        <div class="form-dates" style="display: flex; width: 80%;">
            <!-- Event dates -->
            <div class="form-group" style="width: 45%;">
                <label for="start_date">Start Date</label>
                <input type="date" id="start_date" name="start_date" required>
                <label for="end_date">End Date</label>
                <input type="date" id="end_date" name="end_date" required>

                <!-- Displays all errors, if any -->
                <div class="form-error datetime-errors" style="display: none;"></div>
                {% if errors.get("datetime") %} 
                    <div class="form-error">{{ errors["datetime"] }}</div>
                {% endif %} 
            </div>

            <!-- Event times -->
            <div class="form-group" style="width: 40%;">
                <label for="start_time">Start Time</label>
                <input type="time" id="start_time" name="start_time" required>
                <label for="end_time">End Time</label>
                <input type="time" id="end_time" name="end_time" required>
            </div>
        </div>
        

        <!-- Event location field -->
        <div class="form-group">
            <!-- Event search bar will show suggestions based on the input, custom input is allowed -->
            <div class="location-wrapper">
                <label for="location">Location</label>
                <input type="text" placeholder="Search..." name="location" id="location_input" autocomplete="off" required>
                <ul class="suggestions" id="locations"></ul> 
            </div> 
            
            <!-- Displays all errors, if any -->
            <div class="form-error location-errors" style="display: none;"></div>
            {% if errors.get("location") %} 
                <div class="form-error">{{ errors["location"] }}</div>
            {% endif %} 
        </div>

        <!-- Brief description field -->
        <div class="form-group">
            <label for="description">Brief Description</label>
            <textarea name="description" id="description" rows="2" cols="10" required></textarea>

            <!-- Displays all errors, if any -->
            <div class="form-error desc-errors" style="display: none;"></div>
            {% if errors.get("description") %} 
                <div class="form-error">{{ errors["description"] }}</div>
            {% endif %} 
        </div>

        <!-- Full description field -->
        <div class="form-group">
            <label for="full_description">Full Description</label>
            <p style="font-size: 15px; margin-bottom: 3px;">Include the full information, rules, and any other info participants may require</p>
            <textarea name="full_description" id="full_description" rows="8" cols="10" required></textarea>

            <!-- Displays all errors, if any -->
            <div class="form-error full-desc-errors" style="display: none;"></div>
            {% if errors.get("full_description") %} 
                <div class="form-error">{{ errors["full_description"] }}</div>
            {% endif %} 
        </div>

        <!-- Image field -->
        <div class="form-group">
            <label for="image" class="button">Add Image</label>
            <input type="file" id="image" name="image" accept="image/*" style="display: none;" required> <!-- Adds an image input field where the user has to add in an image-->

            <img src="#" alt="Image Preview" id="photo-preview" class="photo-preview location-preview">

            <!-- Displays all errors, if any -->
            <div class="form-error image-errors" style="display: none;"></div>
            {% if errors.get("image") %} 
                <div class="form-error">{{ errors["image"] }}</div>
            {% endif %} 
        </div>

        <input type="hidden" name="account_id" id="account_id" value="{{ user_id }}"> <!-- Hidden value of the users id -->
        <input type="hidden" name="post_date" id="post_date">

        <!-- Displays hidden input errors -->
        {% if errors["other"] %} 
            {% for error in errors["other"] %}
                <div class="form-error">{{ error }}</div>
            {% endfor %}
        {% endif %}

        <div class="form-group">
            <button type="submit" class="button submit-button">Submit</button>
        </div>
    </form>

    <script src="/static/js/preview.js"></script>
    <script> // Script for location search bar
        const locs = {{ locations|tojson }} // Gets location info
        const input = document.getElementById("location_input")
        const suggestions = document.getElementById("locations")

        input.addEventListener("input", () => {
            const query = input.value.trim().toLowerCase(); // Gets the users input and removes spaces and makes it lowercase
            suggestions.innerHTML = ""; 

            if (!query) return;

            const matches = locs.filter(loc =>
                loc.toLowerCase().includes(query)
            ); // Checks for locations which include the inputted search

        matches.forEach(match => {
            const li = document.createElement("li");
            li.textContent = match;
            li.addEventListener("click", () => {
                input.value = match;
                suggestions.innerHTML = "";
                validateLocation(); // Revalidates location
            });
            suggestions.appendChild(li);
        }); // For each match it will create a list element and allow the user to click on it to set that to the inputs value
    });
    </script>

    <script> // Script for getting the current date
        document.addEventListener("DOMContentLoaded", function(){
            const date = new Date(); 
            const year = date.getFullYear(); 
            const month = String(date.getMonth() + 1).padStart(2, "0");
            const day = String(date.getDate()).padStart(2, "0");
            
            // Puts date into the format DD-MM-YYYY then sets the field element to it
            const formattedDate = `${day}-${month}-${year}`; 
            document.getElementById("post_date").value = formattedDate; 
        });
    </script>

    <script> // Script to validate entries
        const form = document.getElementById("add_event_form");

        // Gets all the input fields
        const nameInput = form.name;
        const startDate = form.start_date;
        const endDate = form.end_date;
        const startTime = form.start_time;
        const endTime = form.end_time;
        const locationInput = form.location;
        const briefDesc = form.description;
        const fullDesc = form.full_description
        const imageInput = form.image;

        function validateName() {
            const value = nameInput.value.trim(); 
            const errorDiv = document.querySelector(".name-errors");

            // If value field is empty display errors
            if (!value) { 
                errorDiv.textContent = "Event title required"; 
                errorDiv.style.display = "block"; 
                nameInput.classList.add("invalid");

                return false;
            }

            // The title must be between 3 and 100 characters
            if (value.length < 3 || value.length > 100) { 
                errorDiv.textContent = "Event title must be between 3 and 100 characters";
                errorDiv.style.display = "block"; 
                nameInput.classList.add("invalid");

                return false;
            }
            errorDiv.textContent = "";
            errorDiv.style.display = "none"; 
            nameInput.classList.remove("invalid");
            return true;
        }

        function validateDatetime() {
            const startValue = new Date(`${startDate.value}T${startTime.value}`);
            const endValue = new Date(`${endDate.value}T${endTime.value}`);
            const errorDiv = document.querySelector(".datetime-errors");

            // Ensures times are inputted
            if (isNaN(startValue.getTime()) || isNaN(endValue.getTime()))
            {
                errorDiv.textContent = "Dates and times are required";
                errorDiv.style.display = "block";
                console.log(`Start: ${startValue} End: ${endValue}`);
                return false;
            }

            // Ensures the selected dates haven't passed
            const now = new Date(); // Gets current datetime
            if (startValue < now || endValue < now)
            {
                errorDiv.textContent = "Date and time must be in the future";
                errorDiv.style.display = "block";   
                return false;
            }
            
            // Ensures dates are in the correct order
            if (startValue > endValue)
            {
                errorDiv.textContent = "Start datetime must be before end datetime";
                errorDiv.style.display = "block";
                return false;
            }

            // Otherwise it works
            errorDiv.textContent = "";
            errorDiv.style.display = "none";
            return true;
        }

        function validateLocation() {
            const value = locationInput.value.trim();
            const errorDiv = document.querySelector(".location-errors");

            // If value field is empty display errors
            if (!value) { 
                errorDiv.textContent = "Location name required"; 
                errorDiv.style.display = "block"; 
                locationInput.classList.add("invalid");

                return false;
            }

            // The location name must be between 3 and 100 characters, otherwise display errors
            if (value.length < 3 || value.length > 100) { 
                errorDiv.textContent = "Location name must be between 3 and 100 characters";
                errorDiv.style.display = "block"; 
                nameInput.classList.add("invalid");

                return false;
            }
            
            // Don't display errors otherwise
            errorDiv.textContent = ""
            errorDiv.style.display = "none"; 
            locationInput.classList.remove("invalid");
            return true;
        }

        function validateBriefDesc() {
            const value = briefDesc.value.trim(); // Gets brief desc value
            const errorDiv = document.querySelector(".desc-errors"); // Gets the brief desc errors div

            if (!value) { // If value field is empty
                errorDiv.textContent = "Brief description required"; // Checks if value is empty(false), if not error div is empty
                errorDiv.style.display = "block"; // Div becomes visible
                briefDesc.classList.add("invalid");

                return false;
            }

            // Adds errors depending on whether the description is too long or too short
            if (value.length < 50) { // The description must be between 10 and 300 characters
                errorDiv.textContent = "Description is too short";
                errorDiv.style.display = "block"; // Div becomes visible
                briefDesc.classList.add("invalid");

                return false;
            } else if (value.length > 250) {
                errorDiv.textContent = "Description is too long";
                errorDiv.style.display = "block"; // Div becomes visible
                briefDesc.classList.add("invalid");

                return false;
            }
            errorDiv.textContent = "";
            errorDiv.style.display = "none"; // Div becomes visible
            briefDesc.classList.remove("invalid");
            return true;
        }

        function validateFullDesc() {
            const value = fullDesc.value.trim(); // Gets full desc value
            const errorDiv = document.querySelector(".full-desc-errors"); // Gets the full desc errors div

            if (!value) { // If value field is empty
                errorDiv.textContent = "Full description required"; // Checks if value is empty(false), if not error div is empty
                errorDiv.style.display = "block"; // Div becomes visible
                fullDesc.classList.add("invalid");

                return false;
            }

            // Adds errors depending on whether the description is too long or too short
            if (value.length < 100) { // The description must be between 10 and 300 characters
                errorDiv.textContent = "Description is too short";
                errorDiv.style.display = "block"; // Div becomes visible
                fullDesc.classList.add("invalid");

                return false;
            } else if (value.length > 1000) {
                errorDiv.textContent = "Description is too long";
                errorDiv.style.display = "block"; // Div becomes visible
                fullDesc.classList.add("invalid");

                return false;
            }
            errorDiv.textContent = "";
            errorDiv.style.display = "none"; // Div becomes visible
            fullDesc.classList.remove("invalid");
            return true;
        }

        function validateImage() {
            const value = imageInput.value.trim(); // Gets image value
            const errorDiv = document.querySelector(".image-errors"); // Gets the image errors div

            if (!value) { // If value field is empty
                errorDiv.textContent = "Image required"; // Checks if value is empty(false), if not error div is empty
                errorDiv.style.display = "block"; // Div becomes visible
                imageInput.classList.add("invalid");

                return false;
            }

            errorDiv.textContent = "";
            errorDiv.style.display = "none"; // Div becomes visible
            imageInput.classList.remove("invalid");
            return true;
        }

        // Adds event listeners to all input fields, waiting for input
        nameInput.addEventListener("input", validateName);

        startDate.addEventListener("input", validateDatetime);
        endDate.addEventListener("input", validateDatetime);
        startTime.addEventListener("input", validateDatetime);
        endTime.addEventListener("input", validateDatetime);

        locationInput.addEventListener("input", validateLocation);
        briefDesc.addEventListener("input", validateBriefDesc);
        fullDesc.addEventListener("input", validateFullDesc);
        imageInput.addEventListener("input", validateImage);


        // Adds event listener to submit button
        form.addEventListener("submit", function(e) {
            // Checks validators
            const valid = 
                validateName() &&
                validateDatetime() &&
                validateLocation() &&
                validateBriefDesc() &&
                validateFullDesc() &&
                validateImage();
            

            // If any come back false it will prevent submission
            if (!valid) {
                e.preventDefault();
            }
        });
    </script>
{% endblock %}