{% extends 'layout.html' %}
{% block content %}
    <!-- Form to add an event -->
    <form action="/events/add-event" method="POST" enctype="multipart/form-data" class="center-form" id="add_event_form">
        <h2>Add Event</h2>
        <div class="divider"></div>

        <!-- Event name field -->
        <div class="form-group">
            <label for="name">Title</label>
            <input type="text" name="name" id="name" required>

            <div class="form-error name-errors" style="display: none;"></div>
        </div>

        <!-- Event dates -->
        <div class="form-group">
            <label for="start_date">Start Date</label>
            <input type="date" id="start_date" name="start_date" required>
            <label for="end_date">End Date</label>
            <input type="date" id="end_date" name="end_date" required>

            <div class="form-error date-errors" style="display: none;"></div>
        </div>

        <!-- Event times -->
        <div class="form-group">
            <label for="start_time">Start Time</label>
            <input type="time" id="start_time" name="start_time" required>
            <label for="end_time">End Time</label>
            <input type="time" id="end_time" name="end_time" required>

            <div class="form-error time-errors" style="display: none;"></div>
        </div>

        <!-- Event location field -->
        <div class="form-group">
            <div class="location-wrapper">
                <label for="location">Location</label>
                <input type="text" placeholder="Search..." name="location" id="location_input" autocomplete="off" required>
                <ul class="suggestions" id="locations"></ul> 
            </div> <!-- Creates the input field and search bar for locations, first having a text input field, and then using suggestions as a list which will display search suggestions. -->

            <div class="form-error location-errors" style="display: none;"></div> <!-- Div which will display location errors -->
        </div>

        <!-- Brief description field -->
        <div class="form-group">
            <label for="description">Brief Description</label>
            <textarea name="description" id="description" rows="2" cols="10" required></textarea>

            <div class="form-error desc-errors" style="display: none;"></div>
        </div>

        <!-- Full description field -->
        <div class="form-group">
            <label for="full_description">Full Description</label>
            <p style="font-size: 15px; margin-bottom: 3px;">Include the full information, rules, and any other info participants may require</p>
            <textarea name="full_description" id="full_description" rows="8" cols="10" required></textarea>

            <div class="form-error full-desc-errors" style="display: none;"></div>
        </div>

        <!-- Image field -->
        <div class="form-group">
            <label for="image" class="button">Add Image</label>
            <input type="file" id="image" name="image" accept="image/*" style="display: none;" required> <!-- Adds an image input field where the user has to add in an image-->

            <img src="#" alt="Image Preview" id="photo-preview" class="photo-preview location-preview">

            <div class="form-error image-errors" style="display: none;"></div>
        </div>

        <input type="hidden" name="account_id" id="account_id" value="{{ user_id }}"> <!-- Hidden value of the users id -->
        <input type="hidden" name="post_date" id="post_date">

        <div class="form-group">
            <button type="submit" class="button submit-button">Submit</button>
        </div>
    </form>

    <script src="/static/js/preview.js"></script>
    <script> // Script for location search bar
        const locs = {{ locations|tojson }} // Gets location info
        const input = document.getElementById("location_input")
        const suggestions = document.getElementById("locations")

        input.addEventListener("input", () => {
            const query = input.value.trim().toLowerCase(); // Gets the users input and removes spaces and makes it lowercase
            suggestions.innerHTML = ""; 

            if (!query) return;

            const matches = locs.filter(loc =>
                loc.toLowerCase().includes(query)
            ); // Checks for locations which include the inputted search

        matches.forEach(match => {
            const li = document.createElement("li");
            li.textContent = match;
            li.addEventListener("click", () => {
                input.value = match;
                suggestions.innerHTML = "";
                validateLocation(); // Revalidates location
            });
            suggestions.appendChild(li);
        }); // For each match it will create a list element and allow the user to click on it to set that to the inputs value
    });
    </script>

    <script> // Script for getting the date
        document.addEventListener("DOMContentLoaded", function(){ // Executes code when the HTML has loaded
            const date = new Date(); // New date based on local time from the users device
            const year = date.getFullYear(); // Gets just the year
            const month = String(date.getMonth() + 1).padStart(2, "0"); // Gets the month and its proper index, then in case its a 1 digit month it makes sure that there are 2 digits and it starts with 0(if needed)
            const day = String(date.getDate()).padStart(2, "0");
            
            const formattedDate = `${day}-${month}-${year}`; // Format of YYYY-MM-DD

            document.getElementById("post_date").value = formattedDate; // Sets the local date value to the current date
        });
    </script>

     <script>
        const form = document.getElementById("add_event_form");

        // Gets all the input fields
        const nameInput = form.name;
        const startDate = form.start_date;
        const endDate = form.end_date;
        const startTime = form.start_time;
        const endTime = form.end_time;
        const locationInput = form.location;
        const briefDesc = form.description;
        const fullDesc = form.full_description
        const imageInput = form.image;

        function validateName() {
            const value = nameInput.value.trim(); // Gets name value
            const errorDiv = document.querySelector(".name-errors"); // Gets the name errors div

            if (!value) { // If value field is empty
                errorDiv.textContent = "Event title required"; // Checks if value is empty(false), if not error div is empty
                errorDiv.style.display = "block"; // Div becomes visible
                nameInput.classList.add("invalid");

                return false;
            }

            if (value.length < 3 || value.length > 20) { // The title must be between 3 and 20 characters
                errorDiv.textContent = "Event title must be between 3 and 20 characters";
                errorDiv.style.display = "block"; // Div becomes visible
                nameInput.classList.add("invalid");

                return false;
            }
            errorDiv.textContent = ""
            errorDiv.style.display = "none"; // Div becomes visible
            nameInput.classList.remove("invalid");
        }

        function validateDate() {
            const startValue = new Date(startDate.value);
            const endValue = new Date(endDate.value);
            const errorDiv = document.querySelector(".date-errors");

            if (isNaN(startValue.getTime) || isNaN(endValue.getTime))
            errorDiv.textContent = startValue || endValue ? "" : "Date is required";
            errorDiv.style.display = startValue || endValue ? "none" : "block";
            //gradeInput.classList.toggle("invalid", !startValue || !endValue);

            console.log(startValue);

            return !!startValue || !!endValue;
        }

        function validateBolts() {
            const value = boltsInput.value.trim();
            const errorDiv = document.querySelector(".bolts-errors");
            if (value === "") { // If the value is empty then it returns true(bolts may be empty)
                errorDiv.textContent = "";
                boltsInput.value = "0"; // Sets default value to 0
                return true;
            }
            const isValid = /^\d+$/.test(value); // Dumbest operator(?) I've ever seen, the regex, checks if the value is numeric, has at least the digits 0-9 so isn't negative, nor a float
            errorDiv.textContent = isValid ? "" : "Bolts must be a non-negative integer";
            errorDiv.style.display = isValid ? "none" : "block";
            boltsInput.classList.toggle("invalid", !isValid);
            return isValid;
        }

        function validateTypes() {
            const checked = [...typesInput].filter(box => box.checked) // The ... separates values into individual elements(spread operator), gets all the checked boxes
            const errorDiv = document.querySelector(".types-errors");
            errorDiv.textContent = checked.length ? "" : "Select at least one type"; // Checks that checked is not empty(ensures one thing is checked)
            errorDiv.style.display = checked.length ? "none" : "block";
            return checked.length > 0;  
        }

        // Adds event listeners to all input fields, waiting for input
        nameInput.addEventListener("input", validateName);
        startDate.addEventListener("input", validateDate);
        endDate.addEventListener("input", validateDate);
        boltsInput.addEventListener("input", validateBolts);
        typesInput.forEach(box => box.addEventListener("change", validateTypes)); // Checks for change in each checkbox


        // Adds event listener to submit button
        form.addEventListener("submit", function(e) {
            // Checks validators
            const valid = 
                validateName() &&
                validateDate() &&
                validateBolts() &&
                validateTypes();

            // If any come back false it will prevent submission, and reopen route popup
            if (!valid) {
                e.preventDefault();
                document.getElementById("route-popup").classList.add("open");
            }
        });
    </script>
{% endblock %}