{% extends 'layout.html' %}
{% block content %}
    <h1>Pending Submissions</h1>
    <div class="divider"></div>

    <h2>Pending Events</h2>
    {% if events %}
        <div class="pending-submissions">
            {% for event in events %}
                <div class="pending-header">
                    <h4>{{ event["name"] }}</h4> <!-- Event name -->
                    <button class="toggle-button" onclick="toggleInfo(this, 'block')" style="top: 15px;">></button>
                </div> <!-- Div for the header of the which has the button to see more info on the event-->

                <!-- Displays the info on the event -->
                <div class="extra-info">
                    <p>Datetimes: <br>
                        <i class="fa-solid fa-calendar-days"></i> <span style="font-weight: 600;">{{ event["start_date"] }}</span> 
                        at <span style="font-weight: 600;">{{ event["start_time"] }} </span><br>
                        <i class="fa-solid fa-arrow-right"></i> <span style="font-weight: 600;">{{ event["end_date"] }}</span> 
                        at <span style="font-weight: 600;">{{ event["end_time"] }}</span></p>
                    <p>Location: {{ event["location_name"] }}</p>
                    <p>Brief Description: {{ event["description"] | replace('\n', '<br>') | safe }}</p>
                    <p>Full Description: {{ event["full_description"] | replace('\n', '<br>') | safe }}</p>
                    <p>Image:</p>
                    <div class="image-container" style="margin-bottom:20px;">
                        <img src="{{event['image']}}" alt="event-image" class="event-image">
                    </div>

                    <form action="{{ url_for('process_submissions') }} " method="POST" style="display: inline;">
                        <input type="hidden" name="id" value="{{ event['id'] }}"> <!-- The id of the event -->
                        <input type="hidden" name="type" value="Event"> <!-- The type of submission it is so flask can identify what to submit -->
                        <button type="submit" name="action" value="approve" class="approve-button">Approve</button>
                        <button type="submit" name="action" value="deny" class="deny-button">Deny</button>
                    </form> <!-- This form handles denying and approving submissions-->
                </div> <!-- Displays the information on the route and allows the admin to approve it or not-->
            {% endfor %}
        </div>
    {% else %}
        <p>No pending events</p>
    {% endif %}

    <h2>Pending Locations</h2>
    {% if locations %}
        <div class="pending-submissions">
            {% for location in locations %}
                <!-- Div for the header of the which has the button to see more info on the route-->
                <div class="pending-header">
                    <h4>{{location[1]}}</h4> <!-- Location name -->
                    <button class="toggle-button" onclick="toggleInfo(this, 'block')" style="top: 15px;">></button>
                </div>

                <div class="extra-info">
                    <p>Coordinates: <a href="https://www.google.com/maps?q={{location[2]}}" target="blank">Google maps coordinates</a></p> <!-- A link leading to the coordinates which opens google maps on a new tab -->
                    <p>Setting: {{location[3]}}</p>
                    <p>Image:</p>
                    <div class="image-container" style="margin-bottom:20px;">
                        <img src="{{location[4]}}" alt="location-image" class="location-image">
                    </div>
                    
                    <!-- This form handles denying and approving submissions-->
                    <form action="{{ url_for('process_submissions') }} " method="POST" style="display: inline;">
                        <input type="hidden" name="id" value="{{ location[0] }}"> <!-- The id of the route/location -->
                        <input type="hidden" name="type" value="Location"> <!-- The type of submission it is so flask can identify what to submit -->

                        <!-- Approve and deny buttons -->
                        <button type="submit" name="action" value="approve" class="approve-button">Approve</button>
                        <button type="submit" name="action" value="deny" class="deny-button">Deny</button>
                    </form>
                </div> <!-- Displays the information on the route and allows the admin to approve it or not-->
            {% endfor %}
        </div>
    {% else %}
        <p>No pending locations</p>
    {% endif %}


    <h2>Pending Routes</h2>
    {% if routes %}
        <div class="pending-submissions">
            {% for route in routes %}
                <div class="pending-header">
                    <h4>{{route[1]}}</h4> <!-- Route name -->
                    <button class="toggle-button" onclick="toggleInfo(this, 'block')" style="top: 15px;">></button>
                </div> <!-- Div for the header of the which has the button to see more info on the route-->

                <div class="extra-info">
                    <p>Location: {{route[2]}}</p>
                    <p>Type: {{route[3]}}</p>
                    <p>Grade: {{route[4]}}</p>
                    <p>Bolts: {{route[5]}}</p>

                    <form action="{{ url_for('process_submissions') }} " method="POST" style="display: inline;">
                        <input type="hidden" name="id" value="{{ route[0] }}"> <!-- The id of the route/location -->
                        <input type="hidden" name="type" value="Route"> <!-- The type of submission it is so flask can identify what to submit -->
                        <button type="submit" name="action" value="approve" class="approve-button">Approve</button>
                        <button type="submit" name="action" value="deny" class="deny-button">Deny</button>
                    </form> <!-- This form handles denying and approving submissions-->
                </div> <!-- Displays the information on the route and allows the admin to approve it or not-->
            {% endfor %}
        </div>
    {% else %}
        <p>No pending routes</p>
    {% endif %}

    <script src="/static/js/toggle.js"></script>
{% endblock %}