{% extends 'layout.html' %}
{% block content %}
    {% if username %}
        <form action="/edit_account" method="POST">
            <div class="account-info-container">
                <div class="left-align" style="text-align: left; display: inline-block;">
                    <h2>Edit Account Info</h2>
                    <div class="divider"></div>
                </div>
                <button type="submit" name="action" value="edit" class="edit-button fa-solid fa-pencil"></button>
            </div>
            
            <!-- Username edit -->
            <div class="form-group" style="width: 40%;">
                <label for="username"><strong>Username</strong> - {{ username }}</label>
                <input type="text" name="username" id="username" value="{{ username }}"> 
            </div> 
            
            <!-- Display name edit -->
            <div class="form-group" style="width: 40%;">
                <label for="display_name"><strong>Display Name</strong> - {{ display_name }}</label>
                <input type="text" name="display_name" id="display_name" value="{{ display_name }}"> 
            </div>

            <!-- Profile picture input edit -->
            <div class="form-group" style="width: 40%">
                <label for="profile_picture"><strong>Profile Picture</strong>
                <img src="{{ profile_picture }}" alt="profile picture" class="profile-preview" style="margin: 20px 0;"></label>
                
                <input type="file" id="image" name="image" accept="image/*" style="display: none;" value="{{ profile_picture }}">

                <img src="#" alt="Image Preview" id="photo-preview" class="photo-preview profile-preview">
            </div>

            <div class="form-group" style="width: 60%;">
                <button type="submit" class="button submit-button">Apply Changes</button>
            </div>
        </form>
    {% else %}
        <h3>You are not logged in. <a href="/login">Log in here</a> Or <a href="/register">Register here</a>  if you don't have an account.</h3>     <!-- Otherwise provides the login and register pages. -->
    {% endif %}

{% endblock %}
