{% extends 'layout.html' %}
{% block content %}
    {% if username %}
        <form action="{{ url_for('edit_location', name={{ info['name'] }}), id={{ request.args.get('id') }} }}"
                method="POST" enctype="multipart/form-data" class="center-form">
            <div class="account-info-container" style="position: relative;">
                <div class="left-align" style="text-align: left; display: inline-block;">
                    <button type="submit" class="circle-button" name="action" value="edit" 
                        style=" font-size: 30px;">&times;</button>
                    <h2>Edit Location Info</h2>
                    <div class="divider"></div>
                </div>
            </div>
            
            <!-- Name edit -->
            <div class="form-group" style="width: 40%;">
                <label for="name"><strong>Name</strong> - {{ info['name'] }}</label>
                <input type="text" name="name" id="name" value="{{ info['name'] }}" minlength="3" maxlength="20"> 
                
                <!-- Div which will display loc name errors -->
                <div class="form-error loc-name-errors" style="display: none;"></div>
            </div> 
            
            <!-- Edit setting -->
            <div class="form-group">
                <label for="name"><strong>Setting</strong> - {{ info['setting'] }}</label>
                <!-- Loops through the settings and creates options for them--> 
                <select name="setting" id="setting">
                    {% for setting in settings %}
                        <option value="{{ setting[0] }}" required>{{setting[1]}}</option >
                    {% endfor %}
                </select> 
            </div>

            <!-- Image input edit -->
            <div class="form-group" style="width: 40%">
                <label for="image"><strong>Image</strong>
                    <img src="{{ info['image'] }}" alt="location image" class="photo-preview profile-preview" style="margin: 20px 0; display: block;" id="photo-preview"> <!-- Will display the current set profile picture -->
                </label>
                <label for="image" class="button">Change Profile Picture</label>

                <input type="hidden" name="current_profile" value="{{ profile_picture }}"> <!-- Sets the default profile picture-->
                <input type="file" id="image" name="image" accept="image/*" style="display: none;">

                <div class="form-error loc-image-errors" style="display: none;"></div> <!-- Div which will display image errors -->
            </div>

            <div class="form-group" style="width: 60%;">
                <button type="submit" class="button submit-button" name="action" value="apply">Apply Changes</button>
            </div>
        </form>
        <script src="/static/js/preview.js"></script>
    {% else %}
        <h3>You are not logged in. <a href="/login">Log in here</a> Or <a href="/register">Register here</a>  if you don't have an account.</h3>     <!-- Otherwise provides the login and register pages. -->
    {% endif %}

{% endblock %}
