{% extends 'layout.html' %}
{% block content %}
    {% if username %}
        <form action="/edit_account" method="POST" enctype="multipart/form-data" class="center-form">
            <div class="account-info-container">
                <div class="left-align" style="text-align: left; display: inline-block;">
                    <h2>Edit Account Info</h2>
                    <div class="divider"></div>
                </div>
                <button type="submit" class="circle-button" name="action" value="close" 
                style="position: absolute; top: 35px; right: 100px; font-size: 30px;">&times;</button>
            </div>
            
            <!-- Username edit -->
            <div class="form-group" style="width: 40%;">
                <label for="username"><strong>Username</strong> - {{ username }}</label>
                <input type="text" name="username" id="username" value="{{ username }}"> 

                {% if errors["username"] != [] %} <!-- Displays the fields potential errors -->
                    {% for error in errors["username"] %}
                        <div class="form-error">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div> 
            
            <!-- Display name edit -->
            <div class="form-group" style="width: 40%;">
                <label for="display_name"><strong>Display Name</strong> - {{ display_name }}</label>
                <input type="text" name="display_name" id="display_name" value="{{ display_name }}"> 

                {% if errors["display_name"] != [] %} <!-- Displays the fields potential errors -->
                    {% for error in errors["display_name"] %}
                        <div class="form-error">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>

            <!-- Profile picture input edit -->
            <div class="form-group" style="width: 40%">
                <label for="image"><strong>Profile Picture</strong>
                    <img src="{{ profile_picture }}" alt="profile picture" class="photo-preview profile-preview" style="margin: 20px 0; display: block;" id="photo-preview"> <!-- Will display the current set profile picture -->
                </label>
                <label for="image" class="button">Change Profile Picture</label>

                <input type="hidden" name="current_profile" value="{{ profile_picture }}"> <!-- Sets the default profile picture-->
                <input type="file" id="image" name="image" accept="image/*" style="display: none;">

                {% if errors["profile_picture"] != [] %} <!-- Displays the fields potential errors -->
                    {% for error in errors["profile_picture"] %}
                        <div class="form-error">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group" style="width: 60%;">
                <button type="submit" class="button submit-button" name="action" value="apply">Apply Changes</button>
            </div>
        </form>
        <script src="/static/js/preview.js"></script>
    {% else %}
        <h3>You are not logged in. <a href="/login">Log in here</a> Or <a href="/register">Register here</a>  if you don't have an account.</h3>     <!-- Otherwise provides the login and register pages. -->
    {% endif %}

{% endblock %}
