{% extends 'layout.html' %}
{% block content %}
    
    {% if username %}
        <div style="display: flex; justify-content: flex-end; margin-right: 50px;">
            <button class="circle-button" onclick="location.href='/events/add-event'" 
            style="font-size: 100px; justify-content: center; width: 70px; height: 70px; margin-top: 30px; ">
                +
            </button>
        </div>
    {% else %}
        <button class="button" onclick="location.href='/login'">Log in to Add an Event</button> <!-- Redirects to the login page if they are not logged in -->
    {% endif %}

    <!-- Every event will be displayed here. -->
    <div class="event-grid">
        {% for event in events %}
            <!-- The div that displays the events info -->
            <div class="event">
                <div class="event-top-info">
                    <div>{{ event["post_date"] }}</div>
                    <div>Created by {{ event["display_name"] }}</div>
                </div>

                <h4>{{ event["name"] }}</h4>

                <div class="event-body">
                    <img src="{{ event['image'] }}" alt="Event image">

                    <!-- Holds all the main info for the event -->
                    <div class="event-info"> 
                        <p style="font-size: 22px; margin-top: 10px;"><strong class="date">{{ event["start_date"] }}</strong> to 
                            <strong class="date">{{ event["end_date"] }}</strong></p>

                        <!-- Div for countdown related elements-->
                        <div style="display: flex; gap: 12px; justify-content: center; margin-top: 10px;">
                            <div class="countdown" id="countdown-{{ event['id'] }}">Loading...</div>
                            <div class="event-status" id="event-status-{{ event['id'] }}">Loading...</div>
                        </div>            
                        
                        <p style="margin-top: 10px;"><strong>{{ event["location_name"] }}</strong></p>
                        <p class="description" >{{ event["description"] }}</p>
                        
                        <!-- Div with the buttons for the event -->
                        <div class="event-buttons" style="margin-top: auto;">
                            <!-- Form will enact the action the user presses -->
                            <form class="event-action-form" method="POST" data-event-id="{{ event['id'] }}"> <!-- Data is for JS to access the event id-->
                                <div class="button-row" style="justify-content: space-between;">
                                    <!-- This div is disabled if the event is not upcoming-->
                                    <div class="join-leave-wrapper" id="join-leave-{{ event['id'] }}">
                                        <!-- User can only join if logged in -->
                                        {% if username %}
                                            <!-- If the user is not joined the event they can join else they can leave -->
                                            {% if not event["joined"] %}
                                                <button type="submit" name="action" value="join" class="join-button">Join</button>
                                            {% else %}
                                                <button type="submit" name="action" value="leave" class="leave-button">Leave</button>
                                            {% endif %}         
                                        {% else %} <!-- If not logged in show the login button-->
                                            <button type="submit" name="action" value="login" class="button">Login to Join Events</button>
                                        {% endif %}
                                    </div>
                                    
                                    <!-- More info button leads to the specific events page -->
                                    <a class="more-info-button" href="/events/{{ event['slug'] }}?id={{ event['id'] }}">More Info</a>

                                    <input type="hidden" id="event_id" name="event_id" value="{{ event['id'] }}">
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <script src="/static/js/join_leave.js"></script>

        <script>
            const events_info = {{ events | tojson }};
        </script>
        <script src="/static/js/time_remaining.js"></script>
        <script src="/static/js/date_format.js"></script>
    </div>

{% endblock %}