{% extends 'layout.html' %}
{% block content %}
    <!-- This will be the container with the info -->
    <div class="event-info-container" style="width: 60%;">
        <!-- The header info for the event -->
        <div style="display: flex; gap: 12px; justify-content: center;">
            <h3 style="margin-bottom: 15px;">{{ event["name"] }}</h3>
            <div class="event-status" id="event-status-{{ event['id'] }}" style="align-self: center; margin-top: 20px">Loading...</div>
        </div>

        <div class="divider" style="margin-top: 0;"></div>
        
        <!-- Time and dates for the event -->
        <div style="display: flex; gap: 12px; justify-content: center; margin-top: 20px;">
            <p style="font-size: 22px;">
                <i class="fa-solid fa-calendar-days"></i> <strong class="date">{{ event["start_date"] }}</strong> 
                at <strong>{{ event["start_time"] }} </strong><br>
                <i class="fa-solid fa-arrow-right"></i> <strong class="date">{{ event["end_date"] }}</strong> 
                at <strong>{{ event["end_time"] }}</strong></p>

            <div class="countdown" id="countdown-{{ event['id'] }}">Loading...</div>
        </div> 

        <p style="margin-top: 20px; font-size: 30px"><i class="fa-solid fa-location-dot"></i> {{ event["location_name"] }}</p>

        <!-- Contains the buttons for each section -->
        <div class="button-row" style="margin-bottom: 10px;">
            <button class="button selected" onclick="showSection('details', this)">Details</button>
            <button class="button" onclick="showSection('results', this)">Results</button>
        </div>

        <div class="event-section" id="details" style="display: block;">
            <p>{{ event["full_description"] | replace('\n', '<br>') | safe }}</p>
        </div>

        <div class="event-section" id="results" style="display: none">
            <!-- Results table which will display when results are available-->
            {% if results %}
                <table class="results-table">
                    <!-- Header row, time only is displayed if it was given -->
                    <tr>
                        <th>Placing</th>
                        <th>Name</th>
                        {% if results[0]["time"] is not none %} <!-- Ensures time is in the dictionary -->
                            <th>Time</th>
                        {% endif %}
                    </tr>
                    <!-- Loops through results making a row for each participant -->
                    {% for result in results %}
                        <tr>
                            <td>{{result["placing"]}}</td>

                            {% if result["name"] %} <!-- Uses the users display name if they have one -->
                                <td>{{result["name"]}}</td>
                            {% else %} <!-- Uses the users username if they don't have a display name-->
                                <td>{{result["username"]}}</td>
                            {% endif %}

                            {% if result["time"] %} <!-- Only displays time if applicable -->
                                <td>{{result["time"]}}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                {% if user_id == event["host_id"] and participants %}
                    <form action="{{ url_for('event', event_slug=event['slug'], id=event['id']) }}" method="POST" style="margin: 0 auto; width: 80%;">
                        <table class="results-table" style="width: 100%;">
                            <!-- Header row, time only is displayed if it was given -->
                            <tr>
                                <th>Placing</th>
                                <th>Name</th>
                                <th>Time(optional)</th>
                                {% if errors["has_time_errors"] %} 
                                    <th>Time Errors</th>
                                {% endif %}
                            </tr>

                            <tbody id="results-form-table">
                                <!-- Loops through results making a row for each participant -->
                                {% for user in participants %}
                                    <tr>
                                        <!-- Placement number which will be updated based on sorting order-->
                                        <td class="placing">{{ loop.index }}</td>
                                        
                                        <!-- Displays the participants name, first display name and if that's not available then username -->
                                        <td>
                                            {{ user["name"] or user["username"]}}

                                            <!-- Displays the fields potential errors -->
                                            {% if errors.get("account_id_" ~ loop.index) %} 
                                                <div class="form-error">{{ errors["account_id_" ~ loop.index] }}</div>
                                            {% endif %} 
                                        </td>
                                        
                                        <!-- Optional time input fields for mins and secs -->
                                        <td>
                                            <div style="display: flex; justify-content: center; align-items: end;">
                                                <input type="number" name="time_mins_{{loop.index}}" 
                                                id="time_mins_{{loop.index}}" max="100" min="0">
                                                <p style="font-size: 10px;">mins</p>
                                                <p>:</p>
                                                <input type="number" name="time_secs_{{loop.index}}" id="time_secs_{{loop.index}}" max="59" min="0" value="0">
                                                <p style="font-size: 10px;">secs</p>
                                            </div>
                                            
                                        </td>
                                        
                                        {% if errors.has_time_errors %}
                                            <td>
                                                <!-- Displays all time related errors -->
                                                {% if errors.get("time_" ~ loop.index) %} 
                                                    {% for error in errors["time_" ~ loop.index] %}
                                                        <div class="form-error">{{ error }}</div>
                                                    {% endfor %}
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                        
                                        <input type="hidden" name="account_id_{{loop.index}}" value="{{user['id']}}">
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- Submit Button -->
                        <div class="form-group">
                            <button type="submit" class="button submit-button">Submit</button>
                        </div>
                    </form> 
                {% else %}
                    {% if no_results%}
                        <h4 style="margin: auto;">No participants joined this event, results unavailable</h4>
                    {% else %}
                        <h4 style="margin: auto;">No results yet, check back later</h4>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>

        <!-- Div with the buttons for the event -->
        <div class="event-buttons" style="margin-top: auto;">
            <!-- Form will enact the action the user presses -->
            <form class="event-action-form" method="POST" data-event-id="{{ event['id'] }}"> <!-- Data is for JS to access the event id-->
                <div class="button-row" style="justify-content: space-between; margin-top: 20px;">
                    <!-- This div is disabled if the event is not upcoming-->
                    <div class="join-leave-wrapper" id="join-leave-{{ event['id'] }}">
                        <!-- User can only join if logged in -->
                        {% if username %}
                            <!-- If the user is not joined the event they can join else they can leave -->
                            {% if not event["joined"] %}
                                <button type="submit" name="action" value="join" class="join-button">Join</button>
                            {% else %}
                                <button type="submit" name="action" value="leave" class="leave-button">Leave</button>
                            {% endif %}         
                        {% else %} <!-- If not logged in show the login button-->
                            <button type="submit" name="action" value="login" class="button">Login to Join Events</button>
                        {% endif %}
                    </div>
                    
                    <!-- More info button leads to the specific events page -->
                    <a class="more-info-button" href="/events">Back to Events</a>

                    <input type="hidden" id="event_id" name="event_id" value="{{ event['id'] }}">
                </div>
                
            </form>
        </div>
    </div>

    <!-- Time related scripts for conversions and countdowns -->
    <script>
        const event_info = {{ event | tojson }};
    </script>
    <script src="/static/js/date_format.js"></script>
    <script>
        // Function to get the date and time into a separated valued list
        function parseDateTime(dateStr, timeStr) {
            const [day, month, year] = dateStr.split("-").map(Number); // Splits the string by the "-" and turns each string into an int

            function parseTime(t) {
                // The regex ensures the date is formatted correctly, either one or 2 digits for hours, a :, then 2 digits for mins, and then either am or pm
                const timeRegex = /(\d{1,2}):(\d{2})(am|pm)/; 
                const match = t.match(timeRegex); // Checks if t matches the correct format of the time regex

                if (!match) return null; // If the time is incorrectly formatted

                let [_, hr, min, ampm] = match; // Extracts all parts of the time
                hr = parseInt(hr); // Converts to int
                min = parseInt(min);

                // Following code converts to 24hr time
                if (ampm === "pm" && hr !== 12) hr += 12; // Adds 12 hours to the time if it's pm, 1pm -> 13
                if (ampm === "am" && hr == 12) hr = 0; // Midnight if it's am and 12

                return { hr, min };
            }

            const time = parseTime(timeStr); // Gets the 24hr time
            if (!time) return null;

            let date = new Date(year, month - 1, day, time.hr, time.min) // Converts to JS date(month is 0-indexed)
            //let endDate = new Date(year, month - 1, day, end.hr, end.min)
            
            return date;
        }


        // Function will get the remaining time until the date
        function getTimeRemaining(startDate) {
            const now = new Date(); // Gets the current date and time
            const diff = startDate - now; // Gets the difference in time(remaining time) in milliseconds

            if (diff <= 0) { // If no time is remaining
                return null;
            }

            const totalSeconds = Math.floor(diff / 1000); // Gets total seconds until events
            const days = Math.floor(totalSeconds / (3600 * 24)); // Gets total days
            const hours = Math.floor((totalSeconds % (3600 * 24)) / 3600); // Gets leftover seconds after days, and converts to hours
            const mins = Math.floor((totalSeconds % 3600) / 60); // Gets leftover seconds after hours, and converts to minutes
            const seconds = Math.floor(totalSeconds % 60); // Gets leftover seconds after minutes

            return { days, hours, mins, seconds };
        }

        let intervalId;
        // Function will update the countdown element
        function updateCountdown() {
            const event = event_info
            const id = event.id; // Gets the events id

            const countdown = document.getElementById(`countdown-${id}`);
            const eventStatus = document.getElementById(`event-status-${id}`);
            const joinLeaveWrapper = document.getElementById(`join-leave-${id}`)

            const startDate = parseDateTime(event.start_date, event.start_time);
            const endDate = parseDateTime(event.end_date, event.end_time);

            let remaining = getTimeRemaining(startDate); // Gets remaining time

            if (!remaining) {
                remaining = getTimeRemaining(endDate); // Gets the time left until the event ends if it is ongoing
                eventStatus.textContent = "Ongoing";
                eventStatus.style.backgroundColor = "#F6C646";
                joinLeaveWrapper.style.display = "none"

                if (!remaining) { // If the event is concluded
                    eventStatus.textContent = "Concluded";
                    eventStatus.style.backgroundColor = "#D95C5C";
                    countdown.style.display = "none";
                    joinLeaveWrapper.style.display = "none"
                    clearInterval(intervalId);
                    return;
                }
            }
            else {
                eventStatus.textContent = "Upcoming";
                eventStatus.style.backgroundColor = "#8DC149";
                joinLeaveWrapper.style.display = "block"
            }

            const { days, hours, mins, seconds } = remaining;
            countdown.textContent = `${days}d ${hours}h ${mins}m ${seconds}s`; // Updates countdown to display time remaining
        }


        updateCountdown();
        intervalId = setInterval(updateCountdown, 1000); // Runs the function every second
    </script>

    <!-- Select section script -->
    <script>
        function showSection(sectionId, button) { // Function taking in the id of the button
            const sections = document.querySelectorAll(".event-section"); // Gets all event sections
            sections.forEach(section => section.style.display = "none"); // Sets each sections display to none

            const selected = document.getElementById(sectionId); // Gets the selected div by using the buttons id
            selected.style.display = "block"; // Sets the div display to block(not none)
            
            // Removes selected class from all buttons
            const buttons = document.querySelectorAll("button");
            buttons.forEach(btn => btn.classList.remove("selected"));

            // Adds selected class to clicked button
            button.classList.add("selected");
        }
    </script>

    <!-- Script handles joining/leaving event -->
    <script src="/static/js/join_leave.js"></script>

    <!-- SortableJS library will be used for drag and dropping result publishing -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
    <script>
        // Adds sortable functionality to table, and updates placing numbers when animation is ended
        const sortable = new Sortable(document.getElementById("results-form-table"), {
            animation: 150,
            onEnd: updatePlacings
        });
        
        // Updates placing numbers after a drag and drop reorder(based on the rows new order)
        function updatePlacings() {
            const rows = document.querySelectorAll("#results-form-table tr");
            rows.forEach((row, index) => {
                row.querySelector(".placing").textContent = index + 1;
            });
        }

        // Runs on page load to update placings
        updatePlacings();
    </script>

    <!-- Script will be used to show that time input is required if inputted elsewhere -->
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            // Gets all input fields for both mins and secs
            const timeInputs = document.querySelectorAll("input[name^='time_mins_']", "input[name^='time_secs_']");

            function validateTimeFields() {
                let anyFilled = false;
                
                // Checks if any input has a non zero value, and if so sets any filled to true
                timeInputs.forEach(input => {
                    if (input.value && parseInt(input.value) !== 0) {
                        anyFilled = true;
                    }
                });

                // Applies red highlight if any are filled
                timeInputs.forEach(input => {
                    const isEmpty = !input.value || parseInt(input.value) === 0;

                    if (anyFilled && isEmpty) {
                        input.classList.add("invalid");
                    } else {
                        input.classList.remove("invalid");
                    }
                });
            }

            timeInputs.forEach(input => {
                input.addEventListener("input", validateTimeFields);
            });
        });
    </script>
{% endblock %}