<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climbing - {{ title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <header>{{ header }}</header>

    <!-- Sets up the navbar for every page, and adds the register and login elements to the navbar if the user is not logged in -->
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/map">Map</a></li>
            <li><a href="/events">Events</a></li>
            {% if not username %}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            {% endif %}

            <!-- Admin page will be displayed if the user is an admin -->
            {% if permission_level %}
                {% if permission_level >= 2 %}
                    <li><a href="/admin">Admin</a></li>
                {% endif %} 
            {% endif %}
        </ul>

        <!-- Displays profile picture as a link to account, uses placeholder if not logged in -->
        <a href="/account" class="profile-link">
            <div class="profile">
                {% if profile_picture %}
                    <img src="{{ profile_picture }}" alt="no image found" class="profile-picture">
                {% else %}
                    <div class="profile-placeholder">?</div>
                {% endif %}
            </div>
        </a>
    </nav>
    <main>{% block content %}{% endblock %}</main>

    <!-- Shows any notifications(flashed messages) when loaded -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "log_errors" %}
                    {% set log_errors = message %}
                {% else %}
                    <script>
                        window.addEventListener("DOMContentLoaded", () => {
                            showNotification("{{ message }}", "{{ category }}");
                        });
                    </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <script> // Handles showing notifications
        function showNotification(message, category) {
            // Creates notification popup
            const notification = document.createElement("div");
            notification.className = "popup-notification";
            
            if (category === "info") {
                notification.style.backgroundColor = "#3498db";
            }
            else if (category == "success") {
                notification.style.backgroundColor  ="#4CAF50";
            }
            else if (category == "error") {
                notification.style.backgroundColor = "#F87171"
            }

            notification.innerText = message;
            document.body.appendChild(notification);

            // Removes after an interval
            setTimeout(() => {
                notification.remove();
            }, 3000);
        }
    </script>

    <footer>&copy;Miguel Monreal 2025</footer> <!-- Sets my footer. -->
</body>
</html>