<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climbing - {{ title }}</title>
    <link rel="stylesheet" href="\static\style.css">
</head>
<body>
    <header>{{ header }}</header>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/map">Map</a></li>
            <li><a href="/posts">Posts</a></li>
            {% if not username %}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
        <a href="/account" class="profile-link">
            <div class="profile">
                {% if profile_picture %}
                    <img src="{{ profile_picture }}" alt="no image found" class="profile-picture">
                {% else %}
                    <div class="profile-placeholder">?</div>
                {% endif %}
            </div>
        </a>
    </nav>
    <main>{% block content %}{% endblock %}</main>
    <footer>&copy;Miguel Monreal 2025</footer>
</body>
</html>