<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climbing - {{ title }}</title>
    <link rel="stylesheet" href="\static\style.css">
</head>
<body>
    <header>{{ header }}</header>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
    <main>{% block content %}{% endblock %}</main>
    <footer>&copy;Miguel Monreal 2025</footer>
</body>
</html>