{% extends 'layout.html' %}
{% block content %}
    <h1>{{info[0][0]}}</h1> <!-- This is the locations name -->

    <div class="divider"></div>

    <div class="location-section">
        <div class="image-container">
            <img src="{{ info[0][2] }}" alt="location-image" class="location-image"> <br> <!-- This is the locations image-->
        </div>
        
        <div class="routes-container">
            {% if info[1] %}
                <h2>Routes</h2>
                <div class="routes-list">
                <!-- Goes through all the given routes in the dictionary, and sets the link to map/location-name/route-name?route_id, then the display of the link is the routes name. -->
                    {% for route in info[1] %}
                        <a class="route-link" href="/map/{{info[0][1]}}/{{info[1][route][1]}}?id={{route}}">
                            {{info[1][route][0]}}
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <h2>No current routes.</h2>
            {% endif %}
        </div>
    </div>
    
    {% if username %}
        <button data-popup-target="route-popup" class="button">Add Route</button> <!-- This button has a custom data field which is used by JS to know what popup it is trying to access-->
    {% else %}
        <button class="button" onclick="location.href='/login'">Log in to Add a Route</button> <!-- Redirects to the login page if they are not logged in -->
    {% endif %}

    <!-- Add route popup form -->
    <div class="popup" id="route-popup"> <!-- Popup Div-->
        <div class="popup-inner"> <!-- Popup Content -->
            <button data-popup-close class="close-button">&times;</button>
            <h2>Add Route</h2>
            <form id="add_route_form" action="{{ url_for('add_route') }}" method="POST"> <!-- This is the form to add a route, with the route name, grade, amount of bolts, location, and types. -->
                
                <div class="form-group">
                    <label for="name">Route Name</label>
                    <input type="text" id="name" name="name" required> 

                    <div class="form-error name-errors" style="display: none;"></div> <!-- Div which will display route name errors -->
                </div>

                <div class="form-group">
                    <label for="grade">Grade</label>
                    <input type="text" id="grade" name="grade" required> 

                    <div class="form-error grade-errors" style="display: none;"></div> <!-- Div which will display grade errors -->
                </div>

                <div class="form-group">
                    <label for="bolts">Amount of Bolts</label>
                    <input type="text" name="bolts" id="bolts"> 

                    <div class="form-error bolts-errors" style="display: none;"></div> <!-- Div which will display bolts errors -->
                </div>

                <input type="hidden" name="location" id="location" value="{{info[0][0]}}"> <!-- Uses the current location instead of a manual input-->

                <input type="hidden" name="url" id="url" value="{{ request.full_path }}"> <!-- Gets the current url route-->

                <div class="form-group">
                    <label for="types">Types</label>
                    <div class="dropdown">
                        <button type="button" class="button">Select Types</button>
                        <div class="dropdown-content">
                            {% for type in types %}
                                <label><input type="checkbox" name="types[]" value="{{type[0]}}">{{type[1]}}</label>
                            {% endfor %}
                        </div> <!-- Types goes through all given types and adds them to the multiselect dropdown. -->
                    </div>

                    <div class="form-error types-errors" style="display: none;"></div> <!-- Div which will display types errors -->
                </div>

                <div class="form-group">
                    <button type="submit" class="button submit-button">Submit</button>
                </div>
            </form>
        </div> 
    </div><br><br>

    <!-- Script for some variables-->
    <script>
        const routes = {{ climb_routes|tojson }};
    </script>
    <script>
        const form = document.getElementById("add_route_form");

        // Gets all the input fields
        const nameInput = form.name;
        const gradeInput = form.grade;
        const boltsInput = form.bolts;
        const typesInput = form.querySelectorAll("input[name='types[]']") // Selects all type inputs(checkboxes)

        function validateName() {
            const value = nameInput.value.trim(); // Gets name value
            const errorDiv = document.querySelector(".name-errors"); // Gets the name errors div

            if (!value) { // If value field is empty
                errorDiv.textContent = "Route name required"; // Checks if value is empty(false), if not error div is empty
                errorDiv.style.display = "block"; // Div becomes visible
                nameInput.classList.add("invalid");

                return false;
            }

            const exists = routes.includes(value);
            const isValid = !exists; // Valid if the route does not exist
            errorDiv.textContent = isValid ? "" : "Route already exists";
            errorDiv.style.display = isValid ? "none" : "block";
            nameInput.classList.toggle("invalid", !isValid);
            return isValid;
        }

        function validateGrade() {
            const value = gradeInput.value.trim();
            const errorDiv = document.querySelector(".grade-errors");
            errorDiv.textContent = value ? "" : "Grade is required";
            errorDiv.style.display = value ? "none" : "block";
            gradeInput.classList.toggle("invalid", !value);
            return !!value;
        }

        function validateBolts() {
            const value = boltsInput.value.trim();
            const errorDiv = document.querySelector(".bolts-errors");
            if (value === "") { // If the value is empty then it returns true(bolts may be empty)
                errorDiv.textContent = "";
                boltsInput.value = "0"; // Sets default value to 0
                return true;
            }
            const isValid = /^\d+$/.test(value); // Dumbest operator(?) I've ever seen, the regex, checks if the value is numeric, has at least the digits 0-9 so isn't negative, nor a float
            errorDiv.textContent = isValid ? "" : "Bolts must be a non-negative integer";
            errorDiv.style.display = isValid ? "none" : "block";
            boltsInput.classList.toggle("invalid", !isValid);
            return isValid;
        }

        function validateTypes() {
            const checked = [...typesInput].filter(box => box.checked) // The ... separates values into individual elements(spread operator), gets all the checked boxes
            const errorDiv = document.querySelector(".types-errors");
            errorDiv.textContent = checked.length ? "" : "Select at least one type"; // Checks that checked is not empty(ensures one thing is checked)
            errorDiv.style.display = checked.length ? "none" : "block";
            return checked.length > 0;  
        }

        // Adds event listeners to all input fields, waiting for input
        nameInput.addEventListener("input", validateName);
        gradeInput.addEventListener("input", validateGrade);
        boltsInput.addEventListener("input", validateBolts);
        typesInput.forEach(box => box.addEventListener("change", validateTypes)); // Checks for change in each checkbox


        // Adds event listener to submit button
        form.addEventListener("submit", function(e) {
            // Checks validators
            const valid = 
                validateName() &&
                validateGrade() &&
                validateBolts() &&
                validateTypes();

            // If any come back false it will prevent submission, and reopen route popup
            if (!valid) {
                e.preventDefault();
                document.getElementById("route-popup").classList.add("open");
            }
        });
    </script>
    <script src="/static/js/popup.js"></script>

{% endblock %}