{% extends 'layout.html' %}
{% block content %}

    {% if username %}
        <button data-popup-target="route-popup" class="button">Add Route</button> <!-- This button has a custom data field which is used by JS to know what popup it is trying to access-->
    {% else %}
        <button class="button" onclick="location.href='/login'">Log in to Add a Route or Location</button> <!-- Redirects to the login page if they are not logged in -->
    {% endif %}

    <div class="popup" id="route-popup"> <!-- Popup Div-->
        <div class="popup-inner"> <!-- Popup Content -->
            <button data-popup-close class="close-button">&times;</button>
            <h2>Add Route</h2>
            <form id="add_route_form" action="{{ url_for('add_route') }}" method="POST"> <!-- This is the form to add a route, with the route name, grade, amount of bolts, location, and types. -->
                <div class="form-group">
                    <label for="name">Route Name</label>
                    <input type="text" id="name" name="name" required> 

                    {% if errors["name"] != [] %} <!-- Displays the fields potential errors -->
                        {% for error in errors["name"] %}
                            <div class="form-error">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="grade">Grade</label>
                    <input type="text" id="grade" name="grade" required>
                    
                    {% if errors["grade"] != [] %} <!-- Displays the fields potential errors -->
                        {% for error in errors["grade"] %}
                            <div class="form-error">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                
                <div class="form-group">
                    <label for="bolts">Amount of Bolts</label>
                    <input type="text" name="bolts" id="bolts"> 

                    {% if errors["bolts"] != [] %} <!-- Displays the fields potential errors -->
                        {% for error in errors["grade"] %}
                            <div class="form-error">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                
                <div class="form-group">
                    <div class="location-wrapper">
                        <label for="location">Location</label>
                        <input type="text" placeholder="Search..." name="location" id="location_input" autocomplete="off"  required>
                        <ul class="suggestions" id="locations"></ul> 
                    </div> <!-- Creates the input field and search bar for locations, first having a text input field, and then using suggestions as a list which will display search suggestions. -->

                    {% if errors["location"] != [] %} <!-- Displays the fields potential errors -->
                        {% for error in errors["location"] %}
                            <div class="form-error">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>

                <input type="hidden" name="url" id="url" value="{{ request.full_path }}"> <!-- Gets the current url route-->

                <div class="form-group">
                    <label for="types">Types</label>
                    <div class="dropdown">
                        <button type="button select-button" class="button">Select Types</button>
                        <div class="dropdown-content">
                            {% for type in types %}
                               <label><input type="checkbox" name="types[]" value="{{type[0]}}">{{type[1]}}</label>
                            {% endfor %}
                        </div> <!-- Types goes through all given types and adds them to the multiselect dropdown. -->
                    </div>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="button submit-button">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div class="popup" id="loc-popup">
        <div class="popup-inner">
            <button data-popup-close class="close-button">&times;</button>
            <h2>Add Location</h2>
            <form action="{{ url_for('add_location') }}" method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" required>
                </div>

                <div class="form-group">
                    <label for="setting">Setting</label>
                    <select name="setting" id="setting">
                        {% for setting in settings %}
                            <option value="{{setting[0]}}" required>{{setting[1]}}</option >
                        {% endfor %}
                    </select> <!-- Loops through the settings and creates options for them--> 
                </div>

                <div class="form-group">
                    <label for="image" class="button">Add Image</label>
                    <input type="file" id="image" name="image" accept="image/*" style="display: none;" required> <!-- Adds an image input field where the user has to add in an image-->

                    <img src="#" alt="Image Preview" id="photo-preview" class="photo-preview location-preview">
                </div>

                <input type="hidden" name="lat" id="lat">
                <input type="hidden" name="lon" id="lon">

                <div class="form-group">
                    <button type="submit" class="button submit-button">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <script src="/static/js/preview.js"></script>

    <script> // Script for location search bar
        const locs = {{ locations|tojson }} // Gets location info
        const input = document.getElementById("location_input")
        const suggestions = document.getElementById("locations")

        input.addEventListener("input", () => {
            const query = input.value.trim().toLowerCase(); // Gets the users input and removes spaces and makes it lowercase
            suggestions.innerHTML = ""; 

            if (!query) return;

            const matches = locs.filter(loc =>
                loc.toLowerCase().includes(query)
            ); // Checks for locations which include the inputted search

        matches.forEach(match => {
            const li = document.createElement("li");
            li.textContent = match;
            li.addEventListener("click", () => {
                input.value = match;
                suggestions.innerHTML = "";
            });
            suggestions.appendChild(li);
        }); // For each match it will create a list element and allow the user to click on it to set that to the inputs value
    });
    </script>

    {% if username %}
        <h3>Right Click Anywhere to Add a Location</h3>
    {% endif %}

    <!-- This sets up the div where the map will be displayed -->
    <div id="map" class="map"></div>    

    <!-- This is the CSS file for leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <!-- This is the JS file for leaflet -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

    <!-- This script will setup the map -->
    <script>
        var coords = [-41.364442, 174.468384]

        // This sets up a new Leaflet map, and accesses our map div with its id, then it defines its starting point, with the coordinates and zoom.
        var map = L.map("map").setView(coords, 5);

        // This sets up the tile layer which uses a URL template for the tile images, in this case it will be an open street map
        L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
            // This sets the maximum zoom you can do for this layer
            maxZoom: 19,
            // This is the attribution for open street map
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        // Gets the markers dictionary
        var markers = {{ markers|tojson }}
        // Loops through it, the key will be the output each time
        for (var key in markers)
        {
            // Uses the key(id) to get coords and name
            coords = markers[key][0]
            name = markers[key][1]
            slug = markers[key][2]

            // Sets the marker using the coords and adds it to the map
            var marker = L.marker(coords).addTo(map);
            // Makes a popup for the marker which leads to the routes page using the id, and it uses the name as the display
            marker.bindPopup(`<a href="/map/${slug}?id=${key}">${name}</a>`)
        }   
        
        if ({{ username|tojson }}) 
        {
            map.on("contextmenu", function(e) {
                const lat = e.latlng.lat;
                const lon = e.latlng.lng; // Gets the latitude and longitude of where you right clicked

                document.getElementById("lat").value = lat
                document.getElementById("lon").value = lon // Sets the hidden location form values of lat and lon to the chosen values

                const popup = document.getElementById("loc-popup");
                popup.classList.add("open"); // Opens the add location form
            });
        }
    </script>

    <script src="/static/js/popup.js"></script>

{% endblock %}