{% extends 'layout.html' %}
{% block content %}
    <h1>{{info[0]}}</h1> <!-- The routes name. -->
    <p>Type: {% for i in info[1] %} {{i}} {% endfor %}<br> <!-- Goes through all the types in the route array and displays them. -->
        Grade: {{info[2]}} <br>
        Bolts: {{info[3]}} <br>
        Location: {{info[4]}}</p>

    <button data-popup-target="log-popup">Log Route</button> <!-- This button has a custom data field which is used by JS to know what popup it is trying to access-->

    <div class="popup" id="log-popup"> <!-- Popup Div-->
        <div class="popup-inner"> <!-- Popup Content -->
            <h2>Log Route</h2>
            <form  method="POST"> <!-- This is the form to log a climb -->
                <input type="hidden" value="{{info[0]}}"> <!-- This will input the climbs name, which can be used as a unique identifier-->

                <div class="rating-box">
                    <h2>How was the climb?</h2>
                    <div class="stars">
                        {% for i in  range(5) %}
                            <i class="fa-solid fa-star"><input type="radio" id="star" value="{{i}}"></i>
                        {% endfor %}
                    </div>
                </div>

                <button type="submit">Publish</button>
                <button>Create Post</button>
            </form>
            <button data-popup-close>Close</button>
        </div> 
    </div><br><br>
    <script src="/static/js/popup.js"></script>
    <script src="/static/js/stars.js"></script>
{% endblock %} <!-- Shows all info for the given route. -->